:root {
    --header-height: 60px;
    /* Sesuaikan dengan tinggi header Anda */
    --basic-border-radius: 0.25rem;
    --basic-transition: 0.25s;
    --basic-border-style: 0.1rem solid var(--color-4);
    --medium-border-radius: 0.5rem;
    --color-dark: #1a1a1a;
    --color-dark-75: #1a1a1abe;
    --color-dark-50: #1a1a1a80;
    --color-dark-25: #1a1a1a40;
    --color-1: #dd761c;
    --color-1-75: #dd761cbe;
    --color-1-50: #dd761c80;
    --color-1-25: #dd761c40;
    --color-2: #feb941;
    --color-2-75: #feb941be;
    --color-2-50: #feb94180;
    --color-2-25: #feb94140;
    --color-3: #fde49e;
    --color-3-75: #fde49ebe;
    --color-3-50: #fde49e80;
    --color-3-25: #fde49e40;
    --color-4: #f7f7f7;
    --color-4-75: #f7f7f7be;
    --color-4-50: #f7f7f780;
    --color-4-25: #f7f7f740;
    --color-s-1: #6dc5d1;
    --color-s-1-75: #6dc5d1be;
    --color-s-1-50: #6dc5d180;
    --color-s-1-25: #6dc5d140;
    --text-color: #fff;
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --main-color: #fa5c01;
    --other-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #cdcdff;
    transition: background-color 0.5s ease;
}

.logo {
    font-size: 34px;
    color: var(--text-color);
    font-weight: 600;
}

#home {
    background-image: url("Picture Properties/learning english.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 600px;
    top: -20px;
    scroll-margin-top: var(--header-height);
    /* Menambahkan margin untuk memastikan konten tidak tertutupi header */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.hero {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 2rem;
    position: relative;
}

.hero-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #CDCDFF, transparent);
}

.hero p {
    margin-bottom: 10px;
    max-width: 1200px;
    position: inherit;
    font-size: 1.5rem;
    font-weight: bold;
}

body,
input,
textarea,
button {
    font-family: "Poppins", Arial;
}

header {
    color: #fff;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background: rgb(59, 125, 247);
    display: flex;
    z-index: 1000;
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    height: var(--header-height);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-block: 1rem;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
}


header h1 {
    padding-left: 7rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0.1rem;
    margin-right: 5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    transition: all 0.5s ease;
}

.section {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    scroll-margin-top: var(--header-height);
    /* Menambahkan margin untuk memastikan konten tidak tertutupi header */
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
    text-align: center;
    background-color: #a4a4fd;
    border-radius: 28px;
    box-shadow: 0 0 5px var(--main-color);
}

.section.visible:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
}

.section.visible .lesson {
    padding-top: 2rem;
    position: relative;
    border: 2px solid;
    border-radius: 28px;
    background-color: white;
}

.section.visible .lesson h3 {
    background-color: #0beca1;
    color: rgb(0, 0, 0);
    top: -2px;
    left: -2px;
    font-weight: bold;
    padding: 3px 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 9999;
    border: 2px solid;
    margin: 0;
}

h2 {
    color: #333;
}

.lesson {
    border: 2px solid;
    margin-bottom: 3rem;
    border-radius: 5px 5px 0 0;
    padding: 0;
    border-color: black;
}

.lesson p {
    margin: 0.5rem 5px;
}

.lesson .bebas {
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    border-color: black;
}

.lesson:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
}

footer {
    background-color: rgb(253, 114, 0);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

nav ul li a:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

.section:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

footer:hover {
    background-color: #555;
}

.content-wrapper {
    padding: 0 2rem;
}